{% load static %}

<link rel="stylesheet" href="{% static 'read/style.css' %}">
<script src="{% static 'read/dark.js' %}" defer></script>

    <div class="sidebar">
        <a href="{% url 'index' %}">Back home</a>

        {% if not text.read %}
        <a href="{% url 'read' text.id %}">
            <button>Mark as read</button>
        </a>
        {% else %}
        <a href="{% url 'read' text.id %}">
            <button>Mark as unread</button>
        </a>
        {% endif %}

        {% if not text.deleted %}
        <a href="{% url 'deleted' text.id %}"><button>Move to trash</button></a>
        {% else %}
        <a href="{% url 'deleted' text.id %}"><button>Remove from trash</button></a>
        {% endif %}

        <a><button id="save-highlight-btn" type="button" class="highlight-button">Save Highlight</button></a>

        <div class="dark-mode-toggle">
            <label class="theme-switch">
                <input type="checkbox" id="dark-mode-toggle">
                <span>Dark Mode</span>
            </label>
        </div>

        <div id="notification-area"></div>

    </div>


    <div class="content">

        <h1>{{ text.title }}</h1>

        <div class="article-meta" style="margin-bottom: 1.5rem;">
            {{ text.author }}
            <span class="sep">&middot;</span>
            <a href="{{ text.link }}">{{ text.link }}</a>
        </div>

        <div class="article">
        {{ text.content | safe}}
        </div>

    </div>


<script>
document.addEventListener('mouseup', function() {
    event.preventDefault();
    selectedText = window.getSelection().toString();
    console.log(selectedText)
});

document.getElementById('save-highlight-btn').addEventListener('click', function(event) {
    event.preventDefault();

    if (selectedText.length > 0) {
        var textId = '{{ text.id }}';
        console.log(JSON.stringify({ 'content': selectedText }));
        fetch("{% url 'add_highlight' text.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'content': selectedText })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'error') {
                displayMessage(data.message.content, true);
            } else {
                displayMessage(data.message.content, false);
            }
        });
    } else {
        alert('Please select some text to highlight.');
    }
});

function displayMessage(message, isError) {
    const notificationArea = document.getElementById('notification-area');

    if (isError) {
        notificationArea.style.backgroundColor = '#f8d7da';
        notificationArea.style.color = '#721c24';
        notificationArea.style.borderColor = '#f5c6cb';
        notificationArea.textContent = "error!";
    } else {
        notificationArea.style.backgroundColor = '#d4edda';
        notificationArea.style.color = '#155724';
        notificationArea.style.borderColor = '#c3e6cb';
        notificationArea.textContent = "highlight saved!";
    }

    notificationArea.style.display = 'block';

    setTimeout(() => {
        notificationArea.style.display = 'none';
    }, 5000);
}

</script>
