{% load static %}

<link rel="stylesheet" href="{% static 'read/style.css' %}">

<div class="menu-bar">
    <h3>Menu</h3>
    <a href="{% url 'index' %}">To read</a>
    <a href="{% url 'archive' %}">Archive</a>
    <a href="{% url 'highlights' %}">Highlights</a>
    <a href="{% url 'feeds' %}">Feeds</a>
    <a href="{% url 'stats' %}">Stats</a>
    <a href="{% url 'trash' %}">Trash</a>
</div>


<div class="content">

<h1>Feeds</h1>

{% if feeds %}
    <a href="/read/update_feeds/">Update all feeds</a>
    <table>
    {% for feed in feeds %}
        <tr>
            <td>{{feed.name}}</td>
            <!--<td>{{feed.url}}</td>-->
            <td>{{feed.last_updated}}</td>
            <td><a href="/read/update_feed/{{feed.id}}">Update</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No feeds are available.</p>
{% endif %}

</div>
