{% load static %}

<link rel="stylesheet" href="{% static 'read/style.css' %}">
<script src="{% static 'read/dark.js' %}" defer></script>

<div class="sidebar">
    <h3>Menu</h3>
    <a href="{% url 'index' %}">To read</a>
    <a href="{% url 'archive' %}">Archive</a>
    <a href="{% url 'highlights' %}">Highlights</a>
    <a href="{% url 'feeds' %}">Feeds</a>
    <a href="{% url 'stats' %}">Stats</a>
    <a href="{% url 'trash' %}">Trash</a>

    <div class="dark-mode-toggle">
        <label class="theme-switch">
            <input type="checkbox" id="dark-mode-toggle">
            <span>Dark Mode</span>
        </label>
    </div>
</div>


<div class="content">

<h1>Feeds</h1>

<form id="add-feed" method="post" class="add-feed-form">
    {% csrf_token %}
    <div>
        <label for="feed-name">Name</label><br>
        <input id="feed-name" name="name" type="text" required maxlength="200">
    </div>
    <div>
        <label for="feed-url">URL</label><br>
        <input id="feed-url" name="url" type="url" required maxlength="200">
    </div>
    <div style="margin-top: 15px;">
        <button type="submit" class="button">Add Feed</button>
    </div>
</form>

{% if feeds %}
    <a href="/read/update_feeds/">Update all feeds</a>
    <table>
    {% for feed in feeds %}
        <tr>
            <td>{{feed.name}}</td>
            <!--<td>{{feed.url}}</td>-->
            <td>{{feed.last_updated}}</td>
            <td><a href="/read/update_feed/{{feed.id}}">Update</a></td>
            <td>
                {% if feed.should_update %}
                    <a href="/read/change_feed_updates/{{feed.id}}">Disable updates</a>
                {% else %}
                    <a href="/read/change_feed_updates/{{feed.id}}">Enable updates</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No feeds are available.</p>
{% endif %}

<script>
    document.getElementById('add-feed').addEventListener('submit', function(e) {
        e.preventDefault();
        const nameInput = document.getElementById('feed-name');
        const urlInput = document.getElementById('feed-url');
        const name = nameInput.value.trim();
        const url = urlInput.value.trim();

        if (name && url) {
            fetch("/read/add_feed/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 'name': name, 'url': url })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'error') {
                    displayMessage(data.message.content, true);
                } else {
                    displayMessage(data.message.content, false);
                }
            });
        }
    });
</script>

</div>
