{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="menu-bar">
    <a href="{% url 'index' %}">Back home</a>
    <br/>
    {% if not text.read %}
    <a href="{% url 'read' text.id %}">
        <button>Mark as read</button>
    </a>    
    {% else %}
    <a href="{% url 'read' text.id %}">
        <button>Mark as unread</button>
    </a>    
    {% endif %}

    {% if not text.deleted %}
    <span><a href="{% url 'deleted' text.id %}"><img src="{% static 'polls/bin.png' %}" /><span>Move to trash</span></a></span>
    {% else %}
    <span><a href="{% url 'deleted' text.id %}"><img src="{% static 'polls/bin.png' %}" /><span>Remove from trash</span></a></span>
    {% endif %}

    <button id="save-highlight-btn" type="button">Save Highlight</button>
    
</div>


<div class="content">

<h1>{{ text.title }}</h1>

{{ text.author }}
<a href={{text.link}}>{{text.link}}</a>

<div class="article">
{{ text.content | safe}}
</div>


</div>

<script>
document.addEventListener('mouseup', function() {
    event.preventDefault();  
    selectedText = window.getSelection().toString();  // Get the selected text
    console.log(selectedText)
});

document.getElementById('save-highlight-btn').addEventListener('click', function(event) {
    event.preventDefault();  // Prevent the default action (e.g., form submission)
    
    if (selectedText.length > 0) {  // Only proceed if some text is selected
        var textId = '{{ text.id }}';  // Get the current article ID
        console.log(JSON.stringify({ 'content': selectedText }));
        // Send the selected text to the Django view via AJAX
        fetch("{% url 'add_highlight' text.id %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 'content': selectedText })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                alert('Highlight saved: ' + data.content);
            } else {
                alert('Error: ' + data.message);
            }
        });
    } else {
        alert('Please select some text to highlight.');
    }
});

</script>
