{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="menu-bar">
    <h3>Menu</h3>
    <a href="{% url 'index' %}">To read</a>
    <a href="{% url 'archive' %}">Archive</a>
    <a href="{% url 'highlights' %}">Highlights</a>
    <a href="{% url 'stats' %}">Stats</a>
    <a href="{% url 'trash' %}">Trash</a>
</div>

<div class="content">

<h1>Highlights</h1>

{% if highlights %}
    <div class="article">
    {% for h in highlights %}
        <div>
        <blockquote>{{ h.content }}
            (<a href={{h.text.link}}>{{h.text.title}}</a>)
        </blockquote>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No highlights are available.</p>
{% endif %}

</div>